<template>
    <div class="form-row mb-3">
        <label for="formInput">{{ name }}</label>

        <input v-if="type == 'text' || type == 'number' || type == 'date'"
               :class="inputClass"
               id="formInput"
               :type="type"
               :value="value"
               v-on:input="$emit('input', $event.target.value)"
               v-on:keyup.enter="$emit('enter')">

        <select v-if="type == 'select'"
               :class="inputClass"
               id="formInput"
               v-on:change="$emit('input', $event.target.value)">
            <option v-for="option in this.options" :value="option" :key="option" :selected="option === value">
                {{ option }}
            </option>
        </select>

        <div class="invalid-feedback">{{ validationMessage }}</div>
    </div>
</template>

<script>
export default {
    name: 'form-input',

    props: {
        id: String,
        name: String,
        value: {
            type: String,
            default: '',
        },
        type: {
            type: String,
            default: 'text',
        },
        options: {
            type: Array,
            default: () => [],
        },
    },

    computed: {
        isInvalid() {
            return this.$parent.validationErrors[this.id] !== undefined;
        },

        validationMessage() {
            if (!this.isInvalid) {
                return;
            }

            return this.$parent.validationErrors[this.id].join(' ');
        },

        inputClass() {
            return `form-control ${this.isInvalid ? 'is-invalid' : ''}`;
        },
    },
};
</script>
