<template>
    <div id="invoices">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{{ $t('invoice.number') }}</th>
                    <th>{{ $t('invoice.nip_buyer') }}</th>
                    <th>{{ $t('invoice.nip_seller') }}</th>
                    <th>{{ $t('invoice.product') }}</th>
                    <th>{{ $t('invoice.value_netto') }}</th>
                    <th>{{ $t('invoice.issued_at') }}</th>
                    <th>{{ $t('invoice.updated_at') }}</th>
                    <th class="text-right">{{ $t('functions') }}</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="invoice in invoices" :key="invoice.id">
                    <td class="align-middle">{{ invoice.number }}</td>
                    <td class="align-middle">{{ invoice.nip_buyer }}</td>
                    <td class="align-middle">{{ invoice.nip_seller }}</td>
                    <td class="align-middle">{{ invoice.product_name }}</td>
                    <td class="align-middle">{{ invoice.value_netto_formatted }}</td>
                    <td class="align-middle">{{ formatDate(invoice.issued_at) }}</td>
                    <td class="align-middle">{{ formatDate(invoice.updated_at) }}</td>
                    <td class="text-right">
                        <button class="btn btn-sm btn-primary"
                                v-on:click="editInvoice(invoice)">
                            {{ $t('edit') }}
                        </button>
                        <button class="btn btn-sm btn-danger"
                                v-on:click="deleteInvoice(invoice)">
                            {{ $t('delete') }}
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="row mb-4">
            <div class="col-md-6">
                <div class="btn-group" role="group" aria-label="Pagination">
                    <button type="button"
                            class="btn btn-secondary"
                            :disabled="isFirstPage"
                            :title="$t('pagination.prev')"
                            v-on:click="goPrevPage">&#8672;</button>
                    <button type="button" class="btn btn-secondary" disabled>
                        {{ currentPage }} / {{ lastPage }}
                    </button>
                    <button type="button"
                            class="btn btn-secondary"
                            :disabled="isLastPage"
                            :title="$t('pagination.next')"
                            v-on:click="goNextPage">&#8674;</button>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <button class="btn btn-success" v-on:click="createInvoice">
                    {{ $t('invoice.create') }}
                </button>
            </div>
        </div>

        <invoice-form ref="invoiceForm" v-on:update="fetchInvoices" />
    </div>
</template>

<script>
export default {
    name: 'invoices',

    data() {
        return {
            invoices: [],
            currentPage: 1,
            totalItems: 0,
            itemsPerPage: 1,
        };
    },

    mounted() {
        this.fetchInvoices();
    },

    computed: {
        lastPage() {
            return Math.ceil(this.totalItems / this.itemsPerPage);
        },

        isFirstPage() {
            return this.currentPage === 1;
        },

        isLastPage() {
            return this.currentPage === this.lastPage;
        },
    },

    methods: {
        fetchInvoices() {
            window.axios.get(`/api/invoice/index?page=${this.currentPage}`)
                .then((response) => {
                    this.invoices = response.data.data;
                    this.totalItems = response.data.total;
                    this.itemsPerPage = response.data.per_page;

                    // Prevent confusion when deleting the last item from the last page
                    if (this.lastPage < this.currentPage) {
                        this.currentPage = this.lastPage;
                        this.fetchInvoices();
                    }
                });
        },

        formatDate(dateString) {
            const date = Date.parse(dateString);

            if (!date) {
                return 'Err!';
            }

            const ye = new Intl.DateTimeFormat(window.app_locale, { year: 'numeric' }).format(date);
            const mo = new Intl.DateTimeFormat(window.app_locale, { month: 'short' }).format(date);
            const da = new Intl.DateTimeFormat(window.app_locale, { day: '2-digit' }).format(date);

            return `${da} ${mo} ${ye}`;
        },

        goPrevPage() {
            if (this.isFirstPage) {
                return;
            }

            this.currentPage--;
            this.fetchInvoices();
        },

        goNextPage() {
            if (this.isLastPage) {
                return;
            }

            this.currentPage++;
            this.fetchInvoices();
        },

        deleteInvoice(invoice) {
            if (confirm(this.$t('warnings.delete', {number: invoice.number}))) {
                window.axios.delete(`/api/invoice/${invoice.id}/delete`)
                    .then(this.fetchInvoices());
            }
        },

        editInvoice(invoice) {
            this.$refs.invoiceForm.open(invoice, '/api/invoice/{id}/update', 'PUT', false);
        },

        createInvoice() {
            const invoice = {};
            if (this.$refs.invoiceForm.currencies.length > 0) {
                invoice.currency_code = this.$refs.invoiceForm.currencies[0];
            }

            this.$refs.invoiceForm.open(invoice, '/api/invoice/create');
        },
    },
};
</script>
