<template>
    <div class="invoice-form">
        <div ref="modal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{ windowTitle }}</h5>
                        <button type="button" class="close" aria-label="Close" v-on:click="close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form needs-validation" novalidate>
                            <form-input v-model="invoice.number"
                                        id="number"
                                        :name="$t('invoice.number')"
                                        v-on:enter="submit" />
                            <form-input v-model="invoice.nip_buyer"
                                        id="nip_buyer"
                                        :name="$t('invoice.nip_buyer')"
                                        v-on:enter="submit" />
                            <form-input v-model="invoice.nip_seller"
                                        id="nip_seller"
                                        :name="$t('invoice.nip_seller')"
                                        v-on:enter="submit" />
                            <form-input v-model="invoice.product_name"
                                        id="product_name"
                                        :name="$t('invoice.product')"
                                        v-on:enter="submit" />
                            <form-input v-model="invoice.value_netto"
                                        id="value_netto"
                                        type="number"
                                        :name="$t('invoice.value_netto')"
                                        v-on:enter="submit" />
                            <form-input v-model="invoice.currency_code"
                                        id="currency_code"
                                        :name="$t('invoice.currency')"
                                        type="select"
                                        :options="currencies" />
                            <form-input v-model="invoice.issued_at"
                                        id="issued_at"
                                        type="date"
                                        :name="$t('invoice.issued_at')"
                                        v-on:enter="submit" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" v-on:click="submit">
                            {{ $t('form.save') }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'invoice-form',

    data() {
        return {
            windowTitle: "",
            invoice: {},
            validationErrors: {},
            method: 'POST',
            action: '',
            currencies: [],
        };
    },

    mounted() {
        window.axios.get('/api/currency/index').then((response) => {
            this.currencies = response.data.data;
        });
    },

    methods: {
        open(invoice, action, method="POST", isNew = true) {
            this.invoice = ({ ...invoice });
            this.method = method;
            this.action = action;

            if (isNew) {
                this.windowTitle = this.$t('form.creating');
            } else {
                this.windowTitle = this.$t('form.editing', {number: invoice.number});
            }

            window.jQuery(this.$refs.modal).show();
        },

        close() {
            window.jQuery(this.$refs.modal).hide();
        },

        submit() {
            window.axios.request({
                method: this.method,
                url: this.action.replace('{id}', this.invoice.id),
                data: {
                    number: this.invoice.number,
                    nip_buyer: this.invoice.nip_buyer,
                    nip_seller: this.invoice.nip_seller,
                    product_name: this.invoice.product_name,
                    value_netto: this.invoice.value_netto,
                    currency_code: this.invoice.currency_code,
                    issued_at: this.invoice.issued_at,
                },
            }).then((response) => {
                this.close();
                this.$emit('update', response.data.data);
            }).catch((error, response) => {
                if (error.response && error.response.status === 422) {
                    this.validationErrors = error.response.data.errors;
                    return;
                }

                alert(this.$t('request.error'));
            });
        },
    },
};
</script>
